.BYO, .cam_be_likeb, .s-2048b, .Electronics, .mobilewebdevb, .profilepic, .WPO{
	background: url(sprites.png) no-repeat;
}

.BYO{
	background-position: -150px -32px ;
	width: 100px;
	height: 50px;
}

.cam_be_likeb{
	background-position: -301px -5px ;
	width: 100px;
	height: 102px;
}

.s-2048b{
	background-position: -4px -7px ;
	width: 112px;
	height: 165px;
}

.Electronics{
	background-position: -451px -25px ;
	width: 100px;
	height: 61px;
}

.mobilewebdevb{
	background-position: -7px -203px ;
	width: 200px;
	height: 102px;
}

.profilepic{
	background-position: -249px -202px ;
	width: 70px;
	height: 70px;
}

.WPO{
	background-position: -400px -201px ;
	width: 100px;
	height: 62px;
}

